.page-header
  %h1
    Your Account &gt; Edit Profile

.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f|
    = devise_error_messages!

    .col-md-6
      = image_tag @user.image.url(:thumb)
      = f.file_field :image

      = f.label :email
      = f.email_field :email, autofocus: true

      = f.label :name
      = f.text_field :name

      = f.label :city
      = f.text_field :city

      = f.label :country
      = f.text_field :country

    .col-md-6
      = f.label :description
      = f.text_area :description

      = f.label :skills
      = f.text_area :skills

      = f.label :looking_for
      = f.text_area :looking_for

      -if devise_mapping.confirmable? && resource.pending_reconfirmation?
        Currently waiting confirmation for:
        = resource.unconfirmed_email

      = f.submit "Update", :class => 'btn-send'
      %p
        = link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'delete-i-with-text'
