.page-header
  %h1
    Your Account &gt; Edit Profile

.container
  .col-md-8.col-md-offset-2.info_text.text-center
    = @show_in_search

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f|
    = devise_error_messages!

    .col-md-6
      = image_tag @user.image.url(:thumb)
      /= image_tag '/images/thumb/missing.png'
      = f.file_field :image

      /= f.label :email
      = f.email_field :email, :class => 'hidden'

      /= f.association :universities, as: :select

      = f.label :name
      = f.text_field :name, autofocus: true, :placeholder => "Please fill out to be visible in the search"

      = f.label :city
      = f.text_field :city, :placeholder => "In which cities are you staying most of the time?"

      /= f.label :country
      /= f.text_field :country

      = f.input :birthdate, :as => 'string', :input_html => { :data => {:provide => :datepicker, :"date-format" => :"yyyy-mm-dd" } }
      /= f.input :birthdate, :as => :string, :input_html => { :data-provide => 'datepicker' }

      = f.label :website
      = f.text_field :website, :placeholder => "Do you have a website with your work on it?"

      = f.input :description, label: "About myself", input_html: { class: 'wysihtml5' }, label_html: { class: 'wysiwg_label' }, :placeholder => "Small biography of yourself."

    .col-md-6
      /= f.label :description,
      = f.association :skills, as: :check_boxes, wrapper_html: { class: 'clearfix' }

      = f.label :moreskills, label: "Other skills"
      = f.text_area :moreskills, :placeholder => "Which skills do you offer / want to train? (Please separate with comma)"

      = f.label :looking_for
      = f.text_area :looking_for, :placeholder => "In what kind of projects are you interested?"

      = f.input :recent_projects, label: "Recent projects", input_html: { class: 'wysihtml5' }, label_html: { class: 'wysiwg_label' }, :placeholder => "Have you already done some projects?"

      -if devise_mapping.confirmable? && resource.pending_reconfirmation?
        Currently waiting confirmation for:
        = resource.unconfirmed_email

      = f.submit "Update", :class => 'btn-send'
      %p
        = link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'delete-i-with-text'

:javascript
  $(document).ready( function() {
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({
                          toolbar: {
                            "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                            "emphasis": true, //Italics, bold, etc. Default true
                            "lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                            "html": false, //Button which allows you to edit the generated HTML. Default false
                            "link": true, //Button to insert a link. Default true
                            "image": true, //Button to insert an image. Default true,
                            "color": false, //Button to change color of font
                            "blockquote": false, //Blockquote
                            "size": 'xs' //default: none, other options are xs, sm, lg
                          }
                        });
    });
  } );