%div.user.clearfix
  .name= user.name || "No name"
  - if not user.id == current_user.id
    .like
      - if current_user.voted_as_when_voted_for user
        = link_to "", unlike_path(user.id), :class => 'unlike-i', :title => 'Undo prebook'
      - else
        = link_to "", like_path(user.id), :class => 'like-i', :title => 'Prebook'
  .info
    - if not user.city.blank? and not user.country.blank?
      %p
        = "#{user.city || ' '}, #{user.country || ' '}"
        %br
        = raw user.universities.collect { |uni| uni.name }.join(", ")

        - if File.exist?(request.protocol + request.host_with_port + user.image.url)
          ja
  = link_to image_tag(user.image.url(:medium)), user_path(:id => user.id, :q => params[:q])
  .description
    = user.skills