.user_box.col-lg-2.col-md-3.col-sm-4.col-xs-6
  %a{:href => user_path(user.id), :data => { :'path-hover' => "m 0,0 0,47.7775 c 24.580441,3.12569 55.897012,-8.199417 90,-8.199417 34.10299,0 65.41956,11.325107 90,8.199417 L 180,0 z"}}
    %figure
      .img_grid_box{ :style => "background-image: url('" + user.image.url(:medium) + "')" }
      <svg viewBox="0 0 180 265" preserveAspectRatio="none"><path d="m 0,0 0,171.14385 c 24.580441,15.47138 55.897012,24.75772 90,24.75772 34.10299,0 65.41956,-9.28634 90,-24.75772 L 180,0 0,0 z"/></svg>
      %figcaption
        %h2.name= user.name || "No name"
        %p.info
          - if user.skills.blank?
            = raw truncate(user.moreskills, :length => 90, :omission => '... ')
          - else
            = raw truncate(user.skills.collect { |s| s.name }.join(", "),:length => 90, :omission => '... ')
  - if not user.id == current_user.id
    .like
      - if current_user.voted_as_when_voted_for user
        = link_to "", unlike_path(user.id), :class => 'unlike-i', :title => "Don't remember"
      - else
        = link_to "", like_path(user.id), :class => 'like-i', :title => 'Remember'