%div.user.clearfix
  = user.name || "No name"
  = link_to image_tag(user.image.url(:medium)), user
  %p= user.description || "No description"
  %p= "from #{user.city || 'City'}, #{user.country || 'Country'}"