%div.user.clearfix
  .name= user.name || "No name"
  .info
    - if not user.city.blank? and not user.country.blank?
      %p= "from #{user.city || 'City'}, #{user.country || 'Country'}"
  = link_to image_tag(user.image.url(:medium)), user
  .description
    = user.skills