%h1 My conversations

- @my_conversations.each do |conv|
  .conversation
    %b= conv.subject
    -#%small= "#{time_ago_in_words(conv.created_at)} ago"
    - receiver = conv.receipts.first.receiver
    - if (receiver == current_user)
      = image_tag receiver.image.url(:thumb)

    - conv.receipts_for(current_user).each do |r|
      -#%b= r.message.subject
      %i= r.message.body
      %small= "#{time_ago_in_words(r.created_at)} ago"
