%h1 Search users

= form_tag("/search", method: "get") do
  = text_field_tag :q, params[:q]
  = submit_tag("Search")

%h2
  = pluralize @users.length, 'result'
  found

#userlist
  - @users.each do |u|
    = render u