#search-bar.page-header
  = form_tag("/search", method: "get") do
    = text_field_tag :q, params[:q], :placeholder => "Search users..."
    = submit_tag("Search")

%h2
  = pluralize @users.length, 'result'
  found

#userlist
  - @users.each do |u|
    = render u