.page-header
  %h1
    = "Your Account" if @user == current_user
    = @user.name || "[name]" unless @user == current_user


%p= "from #{@user.city || "[city]"}, #{@user.country || "[country]"}"

= image_tag @user.image.url(:medium)

%p= @user.description

= link_to "Message #{@user.name}", message_path(@user), :class => "btn btn-primary btn-large"