<<<<<<< HEAD
%section#ps-container.ps-container
  .ps-contentwrapper
    .ps-content
      %h2
        =@user.name
        %br>/
        %span
          from #{@user.city || "[city]"}, #{@user.country || "[country]"}
        %span
          born #{@user.birthdate || "[birthdate]"}
      %p
        %span
          About myself
        =@user.description
      %p
        %span
          Skills
        =@user.skills
      %p
        %span
          Looking for
        =@user.looking_for
      = link_to "Message #{@user.name}", message_path(@user), :class => "btn btn-primary btn-large"
  //ps-contentwrapper
  .ps-slidewrapper
    .ps-slides
      %div{:style => "background-image:url("+@user.image.url(:medium)+");"}
    %nav
      %a.ps-prev{:href => "#"}
      %a.ps-next{:href => "#"}
  //ps-slidewrapper
//ps-container