<h1>Userliste</h1>

<% @users.each do |user| %>
    <%= link_to user.email, user_path(user) %>
    <%= user.email %>
    <%= user.name %>
    <%= user.description %>
    <%= user.city %>
    <%= user.country %>
    <br>
<% end %>

