%h1 Search users

= form_tag("/search", method: "get") do
  = text_field_tag :q, params[:q]
  = submit_tag("Search")

%h2
  = pluralize @users.length, 'result'
  found

- @users.each do |u|
  = link_to u.email, user_path(u)
