.page-header
  %h1
    Blackboard

= link_to 'New Post', new_post_path, :class => 'btn btn-primary'
#blackboard
  - @posts.each do |post|
    .post{:class => @colors.sample}
      %h2
        = link_to post.title, post_path(post)
      = post.content
      %p= link_to post.user.name || post.user.email, post.user
      %small= "#{time_ago_in_words(post.created_at)} ago"
